.modalBackground-del {
  width: 50vw;
  height: 50vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer-del {
  height: 150px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}
/*    
  .modalContainer-del .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
  } */

.titleCloseBtn-del {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn-del button {
  background-color: transparent;
  border: none;
  font-size: 10px;
  cursor: pointer;
}

.modalContainer-del .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.modalContainer-del .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer-del .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}

#cancelBtn-del {
  background-color: crimson;
  font-size: 15px;
}
