.modalBackground-up {
  width: 126vw;
  height: 10vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer-up {
  width: 399px;
  height: 150px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-left: -1100px;
}
/*    
  .modalContainer-del .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
  } */

.titleCloseBtn-up {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn-up button {
  background-color: transparent;
  border: none;
  font-size: 10px;
  cursor: pointer;
}

.modalContainer-up .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.modalContainer-up .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer-up .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}

#cancelBtn-up {
  background-color: crimson;
  font-size: 15px;
}
